
header nav {
    display: flex;
    flex-direction: row;
}

header #highScore {
    text-align: start;
    flex-grow: 1;
}

header .timer {
    text-align: end;
    flex-grow: 1;
}

main {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.startPage {
    text-align: center;
}

.mainText {
    display: flex;
    justify-content: center;
}

.mainText p {
    width: 400px;
}

